<br>
<br>
<input type="text" [(ngModel)]="username" (keydown)="addData($event)" />
<button (click)="addData()">增加+</button>

<hr>

<h2>正在进行</h2>

<ul>
	<li *ngFor="let item of list; let i = index" [hidden]="item.status == 2">
		<button (click)="changeData(i, 2)">改变数据</button>{{item.username}} ------ <button (click)="deleteData(i)">删除-</button>
	</li>
</ul>

<h2>已经完成</h2>

<ul>
	<li *ngFor="let item of list; let i = index" [hidden]="item.status == 1">
		<button (click)="changeData(i, 1)">改变数据</button>{{item.username}} ------ <button (click)="deleteData(i)">删除-</button>
	</li>
</ul>